  /*Custom styles*/

:root {
  /* Fonts */
  --bs-body-font-family: "Baloo 2", var(--bs-font-sans-serif);

  /*Colors*/
  --bs-primary: #007a9b;
  --bs-primary-rgb: 0, 122, 155;
  --bs-success: #aebd14;
  --bs-success-rgb: 174, 189, 20;
}

.text-brand-blue {
  color: var(--bs-primary) !important;
}

.bg-brand-blue {
  background-color: var(--bs-primary) !important;
}

.border-brand-blue {
  border-color: var(--bs-primary) !important;
}

.text-brand-green {
  color: var(--bs-success) !important;
}

.bg-brand-green {
  background-color: var(--bs-success) !important;
}

.border-brand-green {
  border-color: var(--bs-success) !important;
}

.header {
  border-bottom: 2px solid var(--bs-success); 
}

.header-menu-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--bs-primary);
}

.header .navbar-brand img {
  max-height: 2.75rem;
  height: auto;
  width: auto;
}

.header .nav-item {
  border-radius: 0.375rem 0.375rem 0.125rem 0.125rem;
}

.header .nav-link {
 font-weight: 700;
}

.header .navbar-toggler {
  border-color: var(--bs-success);
}

.header .navbar-toggler:focus,
.header .navbar-toggler:hover {
  border-color: var(--bs-success);
}

.page {
  padding-top: 4.25rem;
}

.footer span {
   font-weight: 500 !important;
}

@media (min-width: 768px) {
  .page {
    padding-bottom: 4rem;
  }

  .footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    z-index: 1030;
  }
}

@media (min-width: 992px) {
  .header .nav-item:has(.nav-link.active) {    
    border-left-color: var(--bs-success);
    border-right-color: var(--bs-success);
    border-top-color: var(--bs-success);
    border-bottom-color: var(--bs-white);
  }

  /* Styles for Wordpress active menu item  */
  .header .nav-item.current-menu-item > .nav-link,
  .header .nav-item.current_page_item > .nav-link,
  .header .nav-item.current-menu-ancestor > .nav-link,
  .header .nav-item.current-menu-parent > .nav-link {
    border-left-color: var(--bs-success);
    border-right-color: var(--bs-success);
    border-top-color: var(--bs-success);
    border-bottom-color: var(--bs-white);
  }

  .header .navbar-nav {
    margin-bottom: -2px;
  }

  .header .nav-item {
    border: 2px solid transparent;
  }

  .page {
    padding-top: 3.75rem;
  }
}


/* Services */
.services-brand img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.services-items {
  max-width: 85%;
}

.services .card-body {
  overflow-wrap: normal;
  word-break: normal;   
  hyphens: none;
}

.services-text-item {
  height: 100% !important;
}

.services-item-title {
  margin-top: 2.5rem;
}


@media (min-width: 576px) {
  .services-items {
    max-width: 100%;
  }

  .services-item-title-start {
    justify-content: flex-start !important;
  }

  .services-item-title-end {
    justify-content: flex-end !important;
  }
}

@media (min-width: 768px) {
  .services-items {
    max-width: 85%;
  }
}

@media (min-width: 992px) {
  .services-items {
    max-width: 100%;
  }

  .services-item-title {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1400px) {
  .services-items {
    max-width: 85%;
  }
}

/* Contacts */
.contacts-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.contacts-link,
.card-link {
  text-decoration: none;
  color: inherit;
}

.contacts-table {
  white-space: nowrap;
}