  /*Custom styles*/

:root {
  /* Fonts */
  --bs-body-font-family: "Baloo 2", var(--bs-font-sans-serif);

   /*Colors*/
  --bs-primary: #007a9b;
  --bs-primary-rgb: 0, 122, 155;
  --bs-success: #aebd14;
  --bs-success-rgb: 174, 189, 20;
}

/*  */
.text-brand-blue {
  color: var(--bs-primary) !important;
}

.bg-brand-blue {
  background-color: var(--bs-primary) !important;
}

.border-brand-blue {
  border-color: var(--bs-primary) !important;
}

body {
  overflow-x: hidden;
}

main {
  padding-top: 4rem;
}

.wrapper {
  padding-right: 2rem;
  padding-left: 2rem; 
}

.page-content {
   display: grid;
   gap: 2rem;
   grid-template-columns: 1fr;
   padding-right: 2rem;
   padding-left: 2rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  background-color: var(--bs-primary);
}

.footer span {
   font-weight: 500 !important;
}

.aside {
  display: none;
}

.navbar {
  border-bottom: 2px solid var(--bs-success);
}

.nav-link {
  font-weight: bold;
}

.navbar-brand img {
  max-height: 40px;
  height: auto;
  width: auto;
}

.navbar-toggler {
  border-color: var(--bs-success);
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: var(--bs-success);
}

.navbar-toggler svg {
   stroke: var(--bs-primary);
}

@media (min-width: 768px) {
  main {
    padding-bottom: 4rem;
  }

  .wrapper {
    padding-right: 4rem;
    padding-left: 4rem; 
  }

  .page-content {
    padding-right: 4rem;
    padding-left: 4rem;     
  }
  .footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    z-index: 1030;
  }
}

@media (min-width: 992px) {
  #headerContainer {
    position: relative;
  }

  #headerContainer:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bs-success);
    z-index: 0;
  }

  .navbar {
    border-bottom-color: transparent;
  }

  .nav-item {
    position: relative;
    border: 2px solid transparent;
  }

  .nav-item:has(.nav-link.active) {    
    border-left-color: var(--bs-success);
    border-right-color: var(--bs-success);
    border-top-color: var(--bs-success);
  }

  .nav-item:has(.nav-link.active)::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color:  var(--bs-white);
    z-index: 1;
  }

  .page-content {
    grid-template-columns: 30vw 1fr;
    padding-right: 4rem; 
    padding-left: 0;  
  }

  .aside {
    height: 100%;
    position: fixed;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
  }

  .aside img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding-right: 9rem;
    padding-left: 9rem; 
  }

  .page-content {
    padding-right: 9rem; 
  }

  .aside {
    padding-left: 9rem;
  }
}

/* Services */

.services-brand img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.card {
  border-width: 2px;
}

.card-link {
    display: flex; 
    text-decoration: none; 
    height: 100%; 
    color: inherit; 
}

.card-link:hover .card-title,
.card-link:hover .card-subtitle,
.card-link:hover .card-text {
    text-decoration: none;
}

.card-text {
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
}

.card-hover-effect {
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.card-content {
    transition: filter 0.3s ease; 
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.5s ease; 
  z-index: 10; 
}

.card-overlay-primary {
  background-color: rgba(var(--bs-primary-rgb), 0.8);
}

.card-overlay-success {
  background-color: rgba(var(--bs-success-rgb), 0.8);
}

.card-overlay-text {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
}

.card-overlay-text::after {
  display: inline-block;
  content: "→";
  font-weight: bold;
  margin-left: 0.2rem;
  transition: transform 0.5s ease;
}

.card-hover-effect:hover .card-content {
  /* filter: blur(3px);  */
}

.card-hover-effect:hover .card-overlay {
  opacity: 1; 
}

.card-hover-effect:hover .card-overlay-text::after {
  transform: translateX(5px);
}


/* Contacts */
.contacts-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

